.icon-padding {
    padding: 0px 10px;
}

.tile-title {
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    outline: 0;
    font-style: inherit;
    vertical-align: baseline;
    font-family: 'Montserrat', "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    top: -7px;
    left: 0;
    text-align: center;
    width: 100%;
    color: #2b2b2b;
    font-weight: 600;
    margin-right:0.5em;
}

.tile-title p {
    background-color: white;
    width: fit-content;
    margin: 0 auto;
    padding: 0 10px;
}

.tile-style {
    line-height: 1.5;
    color: #000;
    box-sizing: border-box;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    margin: 20px 0px;
    background: #fff;
    border: 2px solid #2b2b2b;
    text-align: center;
    overflow: visible;
    height: auto;
    padding: 20px;
    left: 0px;
    top: 0px;
}

.tile-style-small {
    line-height: 1.5;
    color: #000;
    box-sizing: border-box;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    margin: 0px 0px 0px 10px;
    background: #fff;
    border: 2px solid #2b2b2b;
    overflow: visible;
    height: auto;
    /*padding: 10px;*/
    left: 0px;
}

